.fondo {
    background-color: #242424;
}

.sombraSvg:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,105,255,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,105,255,1);
    box-shadow: 0px 0px 10x 0px rgba(255,105,255,1);
}